/* Global */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    background-color: white;
    text-transform: uppercase;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;

}

img{
    background-repeat: no;
}


/* Header */
header{
    background: #35424a;
    color: lightblue;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: lightcoral 7.5px solid;
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0;
}

header a{
    text-decoration: none;
    color: gray;
}

header a:hover{
    font-weight: bold;
    color: lightcoral;   
}

header li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #logo{
    float: left;
}

header nav{
    float: right;
    margin: auto;
    margin-top: 10px;
}

h1{
    text-align: center;
}


/* Index.html */
.divh1{
    font-size: 200%;
    font-weight: bold;
}

.firsttop{
    margin-top: 10px;
}

.box{
    float: left;
    text-align: center;
    width: 33.333%;
}

section #connection p{
    width: 90%;
    margin: auto; 
}

footer{
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    background-color: lightcoral;
    text-align: center;
    height: auto;
}

button{
    height: 50px;
    width: 75px;
    color: black;
    background-color: lightcoral;
    border: 0;
    transition-duration: 750ms;
    margin: auto;
    padding: 0;
    margin-bottom: 50px;
}

button:hover{
    font-weight: bold;
    background-color: #35424a;
    color: white;
}

.littlehr{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.little2hr{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.TableText{
    float: left;
}

.TableValues{
    float: right
}

/* Settings.html */
#settings1{
    margin-top: 10px;
}

.box-settings{
    float: left;
    text-align: center;
    width: 100%;
}

.box-settings button{
    width: 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 130px;
}

/*Slider*/

.slider_forwards{
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider_forwards::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(127, 129, 127);
    cursor: pointer;
}
  
.slider_forwards::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightcoral;
    cursor: pointer;
}

/* Canvas */

canvas{
    border: lightcoral 7.5px solid;
    width: 1000px;
    height: 550px;
}