body{
    margin: 0;
    font-family: arial;    
	background-color:#9E9E9E;
	padding:0;
}

#header { 
/*	background-image:url("images/headerBG1.jpg");  orange->  #FF9E2A  Lila-> #ac16ac   */
    background-color: #FF9E2A  ;
    height: auto;
	width: 100%;
	border-bottom: 5px solid black;
	display: inline-block;
}

.nav{
	overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    background-color: steelblue;
    width:100%;
    height: auto;
	display:flex;
	border-bottom: 5px solid black;
}
.nav a {
    color: black;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;
	transition-duration: 300ms;	
    margin: 1px;
}
.nav a:hover {
color:black;
font-weight:800;
}

#header img{
	margin-left:12%;
	margin-bottom:1%;
	margin-top:1%;
	float: left;
	width:  20%;
	height: auto ;
}
.page{
    margin: auto;
    width: auto;
    height:auto;
    margin-top: 30px;
}
.headline{
    margin: auto;
    width: auto;
    height:auto;
    text-align: center;
    text-decoration: underline;
}
input{
margin: 1%;
border-width:1px;
border-color: black;
}
.divinput1{
    display:flex;
    margin: auto;
    margin-left:2%;
}

.pdc{
    
    margin-right: 2%;
}
.robo{

    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.pdctop{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;  
    margin-left: 1.3%;
}
#pdcR{
    width:150px;
    height: 50px;
    background-color: dimgrey;
    border-color: black;

}
.pdcbot{

    display:flex;
    justify-content: center;
    width: 100%;
    height: auto;  
    margin-left: 1.3%;
}
#pdcL{
    width:150px;;
    height: 50px;
    background-color: dimgrey;
    border-color: black;

}
.pdcvorne{
    display:grid;
    width: 50px;
    height: auto;

}
.pdcvorne button{
    width: auto;
    height: 75px;
    background-color: dimgrey;
    border-color: black;
}
#pdcVR{
     
}
#pdcVL{
   
}
.footer{
    margin:auto;
    margin-top: 10%;
    padding: 5px;
    background-color: #FF9E2A ;
    width: auto;
    border-top: 5px solid black;
    font-size: 18px;
    text-align: center;
	padding-bottom:10px;
    height: auto;
}
.footer p{
text-decoration: underline;
    
}

canvas{
    border: lightcoral 7.5px solid;
    width: 1000px;
    height: 550px;
}