body{
    margin: 0;
    font-family: arial;    
	background-color:#9E9E9E;
	padding:0;
}

#header { 
/*	background-image:url("images/headerBG1.jpg");  orange->  #FF9E2A  Lila-> #ac16ac   */
    background-color: #FF9E2A  ;
    height: auto;
	width: 100%;
	border-bottom: 5px solid black;
	display: inline-block;
}

.nav{
	overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    background-color: steelblue;
    width:100%;
    height: auto;
	display:flex;
	border-bottom: 5px solid black;
}
.nav a {
    color: black;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;
	transition-duration: 300ms;	
    margin: 1px;
}
.nav a:hover {
color:black;
font-weight:800;
}

#btnVorne{
	background-image:url("images/arrowOben.png");
}
#btnLinks{
	background-image:url("images/arrowLinks.png");
}
#btnRechts{
	background-image:url("images/arrowRechts.png");
}
#btnHinten{
	background-image:url("images/arrowUnten.png");
}

#header img{
	margin-left:12%;
	margin-bottom:1%;
	margin-top:1%;
	float: left;
	width:  20%;
	height: auto ;
}

.reihe{
	display:flex;	
	margin-top:2%;
	margin-bottom:0%;
	margin-left: auto;
	margin-right:auto;
	justify-content : space-around;
	width: 100%;
	height: auto;
}

.reihe img{
	width: 100%;
	height: auto;
}

button{
	border:2px solid black;
	border-radius:15px;
	width: 100px;
	height: 100px;	
	font-family:Arial;
	padding:0%;
	margin:auto;
	background-color: steelblue;
	color:black;
	font-size:20px;
    color: black;
	background-repeat:no-repeat; 
	background-size: contain;
    transition-duration: 500ms;	
}
button:hover {
	color:black;
	background-color: #FF9E2A ;
}
.page{
    margin: auto;
    width: auto;
    height: auto;
    margin-bottom: 5%;
    
}
.footer{
    margin-top: 5px;
    padding: 5px;
    background-color: #FF9E2A ;
    width: auto;
    border-top: 5px solid black;
    font-size: 18px;
    text-align: center;
	padding-bottom:20px;
}
.footer p{
text-decoration: underline;
}
