body{
    margin: 0;
    font-family: arial;    
	background-color:#9E9E9E;
	padding:0;
}

#header { 
/*	background-image:url("images/headerBG1.jpg");  orange->  #FF9E2A  Lila-> #ac16ac   */
    background-color: #FF9E2A  ;
    height: auto;
	width: 100%;
	border-bottom: 5px solid black;
	display: inline-block;
}

.nav{
	overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    background-color: steelblue;
    width:100%;
    height: auto;
	display:flex;
	border-bottom: 5px solid black;
}
.nav a {
    color: black;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 120%;
	transition-duration: 300ms;	
    margin: 1px;
}
.nav a:hover {
color:black;
font-weight:800;
}

#header img{
	margin-left:12%;
	margin-bottom:1%;
	margin-top:1%;
	float: left;
	width:  20%;
	height: auto ;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
.TableText{
	float: left;
    font-size: 20px;
}
.TextHeader{
	float:left;
	text-decoration:underline;
	font-weight:bold;	
      font-size: 20px;
}
.TableData{
	float: right;
    font-size: 20px;
}
.tblHeader{
	text-align:center;
	text-decoration:underline;
    font-size: 25px;
}
#Datencont{
	overflow:hidden;
	width:auto;
	margin: auto;
    height: auto;
    margin-bottom: 10%;
}
.alldata{
	margin:auto;
	overflow:hidden;
	width: 100%;
	
}
.tbldiv{
	margin:auto;
	margin-top:10px;	
	width:50%;
	text-align:center;
	float: left;
    overflow: hidden
}
.footer{
    margin:auto;
    padding: 5px;
    background-color: #FF9E2A ;
    width: auto;
    border-top: 5px solid black;
    font-size: 18px;
    text-align: center;
	padding-bottom:10px;
    height: auto;
}
.footer p{
text-decoration: underline;
    
}
